<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="users" type="com.github.andtho.spring.springdataexample.controller.UserDto"*/-->

    <h2>Users</h2>

    <a th:href="@{/user}">list users</a>

    <form action="#" th:action="@{/user}" th:object="${user}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{username}" id="name" placeholder="Name">
        <span<a th:href="@{/list-users.html}"><label for="password">Email</label>
        <input type="text" th:field="*{password}" id="password" placeholder="Email">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <input type="submit" value="Add User">
    </form>
</html>